@model Feedback

@{
    ViewData["Title"] = "Create";
}

<section class="section gigs_section">
	<div class="container d-flex flex-column align-items-center justify-content-center gigs_container">
		
		<form action="" method="POST">
			<div class="form-outline mb-4">
				<h3 class="mb-5" style="align-self: flex-start;">
					Feedback
				</h3>
			</div>
			<div class="form-outline mb-4">
				<label asp-for="Title" style="font-weight: 600" class="form-label" for="title">Title</label>
				<input asp-for="Title" type="text" class="form-control form-control-lg" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-outline mb-4">
				<label asp-for="Description" style="font-weight: 600" class="form-label" for="description">Description</label>
				<textarea asp-for="Title" style="resize: none" type="text" class="form-control form-control-lg" rows="10" cols="50"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-outline mb-4">
				<label asp-for="Rating" style="font-weight: 600" class="form-label" for="time">Rating (Enter a number between 1 and 5)</label>
				<input asp-for="Rating" type="number" class="form-control form-control-lg" />
				<span asp-validation-for="Rating" class="text-danger"></span>
			</div>
			<div class="col-md-12 text-end">
				<button style="width: 20%;" type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</section>


